.Logo{
    background-color: black;
}
.Menu{
    background-color: rgb(70, 119, 37);
    display: flex;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px ;
}
.Lista1{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 23px;
    margin: 10px;
    gap: 731px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.principal{
    margin: 20px;
}
.img2{
    width: 700px;
}
.body{
    background-color: rgb(37, 8, 65);
}
.img3{
    width: 1933px;
    cursor: pointer;
}
.obra{
    margin: 0px;
    padding: 0px;
}
.obra3{
   background-color: black;
}